@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }

        @media (max-width: $bp-md) {
            height: auto;
            padding: 16px 20px;
            grid-template-columns: 80px auto;
            &-text {
                font-size: 16px;
                line-height: 22px;
                padding-left: 16px;
                padding-top: 0;
                align-self: center;
            }
        }

        @media (max-width: $bp-sm) {
            grid-template-columns: 1fr;
            text-align: center;
            img {
                display: none;
            }
            &-text {
                padding-left: 0;
            }
        }
    }
}